img {
  width: 100%;
}

h1 {
  text-align: center;
}

.running-total {
  color: red;
}

.total-score {
  color: red;
  font-size: 72px;
}

.player-one-rolls-one {
  font-size: 36px;
  color: red;
  text-align: center;
  display: none;
}

#winner {
  display: none;
}
